<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootsrap.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/estilo.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jQuery1.11.3.js')}}"></script>
            <script src="{{ asset('js/bootstrap.js')}}"></script>
        {% endblock %}

    </body>
</html>
