{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a href="{{ path("route_homepage") }}"><img id ="logo" alt="logo" src="{{ asset('imagenes/logo2.png') }}"/></a>

                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a  href="{{path('route_mapa')}}">Mapa</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Multimedia <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('route_video')}}">Video</a></li>
                                <li><a href="{{ path('route_galeria')}}">Galería</a></li>
                                <li><a href="{{ path('route_slideshow')}}">Slideshow</a></li>
                                <li><a href="{{ path('route_puzzle')}}">Puzzle</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ app.user.nick }}
                                    <img  class="" width="35" height="35" src="{{ asset(app.user.imagen) }}"/><span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('route_listar') }}">Listar</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('usuario_listar', {'id' : app.user.id}) }}">Perfil</a></li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path('route_administrar') }}">Administrar Usuarios</a></li>
                                    {% endif %}
                                    <li><a href="{{path('route_logout')}}">Salir</a></li>

                                </ul>
                            </li>
                        {% else %}
                            <li class=""><a  href="{{path('route_login')}}">Login</a></li>
                            <li class=""><a href="{{path('usuario_new')}}">Registro</a></li>
                        {% endif %}

                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <ul class="nav nav-pills nav-stacked col-md-3">
        <li class="active"><a href="#">Categorias</a></li>
        {% if categorias is defined %}
            {% for categoria in categorias %}
                <li><a href="{{ path('categoria_show', {'id' : categoria.id}) }}">{{ categoria.nombre }}</a></li>
            {% endfor %}
        {% endif %}

        <form class="form form-horizontal top-buffer" role="search"  method="POST" action="{{ path('route_buscador') }} ">
            <fieldset>
                <legend>Búsqueda</legend>
                <div class="form-group col-md-6">
                    <input class="form-control col-md-offset-1" name="texto" placeholder="Texto" type="text">
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <select class="form-control" id="select" name="fecha">
                            <option value="todo">Siempre</option>
                            <option value="hoy">Hoy</option>
                            <option value="ultimaSemana">Última semana</option>
                            <option value="ultimoMes">Último Mes</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6  ">
                    <input class="form-control col-md-offset-1" name="precioMinimo" placeholder="precio Mínimo" type="number">
                </div>
                <div class="form-group col-md-6">
                    <input class="form-control col-md-offset-1" name="precioMaximo" placeholder="precio Máximo" type="number">
                </div>
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-primary col-md-offset-1 ">Buscar</button>
                </div>

                </fieldset>
        </form>
    </ul>



    <main class="col-md-6">
        {% block contenido %}{% endblock %}
    </main>

    <aside  class=" col-md-3 text-right">
        <img src="{{ asset('imagenes/banner.png') }}" alt="banner" id="fbanner"/>
    </aside>

    <footer class="footer col-md-12 text-center">
        <div class="panel-footer">
            <p  class="text-muted">Copyright &copy; 2015 Jeronimo Nadal Ruiz — Todos los derechos reservados.</p>
        </div>
    </footer>



{% endblock %}