{% extends 'base.html.twig' %}

{% block body %}
    <h1>Seguimiento list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seguimiento in seguimientos %}
            <tr>
                <td><a href="{{ path('seguimiento_show', { 'id': seguimiento.id }) }}">{{ seguimiento.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('seguimiento_show', { 'id': seguimiento.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('seguimiento_edit', { 'id': seguimiento.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('seguimiento_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
