{% extends '::layout.html.twig' %}
{% block contenido %}
    <ul class="breadcrumb">
        <li><a href="{{ path("route_homepage") }}">Home</a></li>
        <li class="active">Oferta</li>
    </ul>
    <h1>Ofertas de <a href="{{ path('anuncio_show', {'id' : anuncio.id}) }}">{{ anuncio.titulo }}</a></h1>
     <table class="table table-striped table-hover ">
        <tbody>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Texto</th>
                    <th>Importe</th>
                    <th>Usuario</th>
                </tr>
            </thead>
        {% for oferta in ofertas %}
            <tr class="success">
                <td>{{ oferta.id }}</td>
                <td>{{ oferta.titulo }}</td>
                <td>{{ oferta.texto }}</td>
                <td>{{ oferta.importe }}€</td>
                <td>{{ oferta.usuario.nombre }}<img  class="" width="35" height="35" src="{{ asset(oferta.usuario.imagen) }}"/></td>
            </tr>
        {% endfor %}

        </tbody>
     </table>
{% endblock %}
