{% extends '::layout.html.twig' %}

{% block contenido %}
    <ul class="breadcrumb">
        <li><a href="{{ path("route_homepage") }}">Home</a></li>
        <li><a href="{{ path('anuncio_show', {'id' : anuncio.id}) }}">Anuncio</a></li>
        <li class="active">Añadir Oferta</li>
    </ul>
    <div class="container-fluid">
        <form class="form-horizontal" id="formOfertas"
              method="POST"
              action="{{ path('oferta_insertar', {'idAnuncio' : anuncio.id}) }} " novalidate="novalidate">
            <fieldset>
                <legend>Añadir ofeta a <a href="{{ path('anuncio_show', {'id' : anuncio.id}) }}">{{ anuncio.titulo }}</a></legend>
                {{ form_start(form) }}
            <div class="row col-xs-12">
                <div class="form-group col-md-12">
                    {{ form_label(form.titulo) }}
                    {{ form_widget(form.titulo) }}
                    {{ form_errors(form.titulo) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_label(form.texto) }}
                    {{ form_widget(form.texto) }}
                    {{ form_errors(form.texto) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_label(form.importe) }}
                    {{ form_widget(form.importe) }}
                    {{ form_errors(form.importe) }}
                </div>
            </div>
            </fieldset>

            {{ form_rest(form) }}

            <div class="">
                <input type="submit" value="Enviar" class="btn btn-primary"/>
            </div>

            {{ form_end(form) }}
        </form>
    </div>

    {{ form_errors(form) }}

{% endblock %}
