{% extends '::layout.html.twig' %}

{% block contenido %}
    <h1>Oferta</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ofertum.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ ofertum.titulo }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ ofertum.texto }}</td>
            </tr>
            <tr>
                <th>Importe</th>
                <td>{{ ofertum.importe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('oferta_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('oferta_edit', { 'id': ofertum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
