#map{
    width: 100%;
    height: 100%;
    padding-top: 35%;
}
#map2{
    width: 100%;
    height: 300%;
    padding-top: 35%;
}
img.imagenesGaleria:hover
{
    transform:skew(-10deg, -25deg);
}

img.ocultas
{

    width: 220px; height:350px;
}
figure
{
    visibility: hidden; opacity:0;
    transition: visibility 1.5s,opacity 1.5s;
}
li:hover figure
{
    visibility:visible; opacity:1;
}
#myCarousel
{
    width: 100%;
    height: 500px;
}
#cajaTodoPuzzle
{
    width: 450px;
    background: rgba(103, 93, 101, 0.8);
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}

#cajaPiezas
{
    background: #e7931a;
    width: 200px;
    height: 200px;
    float: left;
}

#cajaPuzzle
{
    background: #e7931a;
    width: 200px;
    height: 200px;
    float: right;
}

.contenedorPieza
{
    width: 100px;
    height: 100px;
    float: left;
}

#cajaTodoPuzzle img
{
    float: left;
    padding: 1px;
    width: 98px;
    height: 98px;
}

#contenedor input.tab-selector-1:checked ~ .content .content-1,
#contenedor input.tab-selector-2:checked ~ .content .content-2,
#contenedor input.tab-selector-3:checked ~ .content .content-3,
#contenedor input.tab-selector-4:checked ~ .content .content-4 {
    z-index: 100;
    float: left;
    opacity: 1;
    -webkit-transition: all ease-out 0.2s 0.1s;
    -moz-transition: all ease-out 0.2s 0.1s;
    -o-transition: all ease-out 0.2s 0.1s;
    -ms-transition: all ease-out 0.2s 0.1s;
}


@-moz-keyframes rotacion
{
    from {-moz-transform: rotate(0);}
    50% {-moz-transform: rotateY(180deg);}
    to {-moz-transform: rotate(0);	}
}
@-webkit-keyframes rotacion
{
    from {-webkit-transform: rotate(0);}
    50% {-webkit-transform: rotateY(180deg);}
    to {-webkit-transform: rotate(0);	}
}
@keyframes rotacion
{
    from {transform: rotate(0);}
    50% {transform: rotateY(180deg);}
    to {transform: rotate(0);	}
}

#logo
{
    animation-duration: 5s;
    animation-name: rotacion;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
    -webkit-animation-name: rotacion;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-duration: 5s;
    -moz-animation-name: rotacion;
    -moz-animation-iteration-count: infinite;
    -o-animation-duration: 5s;
    -o-animation-name: rotacion;
    -o-animation-iteration-count: infinite;
    position:relative;

}

input:required
{
    background-image: url('../imagenes/required.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 14px;
}

input:required:focus:valid{
    background: url('../imagenes/correcto.png') right top no-repeat, white url('../imagenes/required.png') right top no-repeat;
    background-size: 14px;
}

input:required:focus:invalid{
    background: url('../imagenes/incorrecto.png') right top no-repeat, white url('../imagenes/required.png') right top no-repeat;
    background-size: 14px;

}
[data-tooltip]{
    position:relative;
    border-bottom: 1px dotted #09C;
    cursor:pointer;
}
[data-tooltip]::before {
    content : attr(data-tooltip);
    background-color:rgba(0,0,0,.75);
    color:white;
    -webkit-font-smoothing: antialiased;
    width:150px;
    padding:10px;
    height:auto;
    border-radius:3px;
    display:none;
    position:absolute;
    bottom:25px;
    left:calc(100% - 75%);
    pointer-events: none;
    z-index:99;
}
[data-tooltip]::after{
    content:"";
    height:1px;
    width:1px;
    border:10px solid transparent;
    border-top-color:rgba(0,0,0,.75);
    position:absolute;
    bottom:4px;
    left:50%;
    display: none;
}
[data-tooltip]:hover::before,
[data-tooltip]:hover::after
{ display:block;}

