{% extends '::layout.html.twig' %}

{% block contenido %}
    <ul class="breadcrumb">
        <li><a href="{{ path("route_homepage") }}">Home</a></li>
        <li class="active">Administrar</li>
    </ul>
    {% for flash_message in app.session.flashbag.get('error') %}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Error</h3>
            </div>
            <div class="panel-body">
                <p id="error">{{ flash_message }}</p>
            </div>
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Correcto</h3>
            </div>
            <div class="panel-body">
                <p id="error">{{ flash_message }}</p>
            </div>
        </div>
    {% endfor %}
    <a href="{{ path("usuarioAdmin_new")}}"><img class="imagenes" src="{{ asset("imagenes/new.png") }}">Nuevo Usuario</a>

    <table class="table table-striped table-hover ">
        <tbody>
        <thead>
        <tr>
            <th>Id</th>
            <th>Nick</th>
            <th>Acciones</th>
        </tr>
        </thead>

        {% if usuarios is defined %}
            {% for usuario in usuarios %}
                <tr class="success">
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.nick }}</td>
                    <td>
                        <a href="{{ path("usuario_edit", {'id' : usuario.id}) }}"><img class="imagenes" src="{{ asset("imagenes/editar.png") }}"></a>
                        <a href="{{ path("usuario_delete", {'id' : usuario.id}) }}"><img class="imagenes" src="{{ asset("imagenes/eliminar.png") }}"></a>
                        <a href="{{ path('cambiar_password', {'id' : usuario.id}) }}">Cambiar Contraseña</a>
                        <a href="{{ path('cambiar_imagen', {'id' : usuario.id}) }}">Cambiar Imagen</a>
                        <a href="{{ path('eliminar_imagen', {'id' : usuario.id}) }}">Eliminar Imagen</a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}

        </tbody>
    </table>
{% endblock %}
