{% extends '::layout.html.twig' %}
{% block contenido %}
    <ul class="breadcrumb">
        <li><a href="{{ path("route_homepage") }}">Home</a></li>
        <li class="active">Cambiar Imagen</li>
    </ul>

    <form action="{{ path('cambiar_imagen', {'id' : usuario.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" value="Upload Document" />
    </form>


{% endblock %}
