{% extends '::layout.html.twig' %}
{% block contenido %}
    <ul class="breadcrumb">
        <li><a href="{{ path("route_homepage") }}">Home</a></li>
        <li class="active">Cambiar Password</li>
    </ul>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Cambiar Contraseña" class="btn btn-primary" />
    {{ form_end(form) }}
    {{ form_errors(form) }}


{% endblock %}
