{% extends '::layout.html.twig' %}
{% block contenido %}

    <div class="col-md-6">
        {{ form_start(edit_form) }}
        <fieldset>
            <legend>Editar Usuario</legend>

            <div class="form-group col-md-12">
                {{ form_label(edit_form.nombre) }}
                {{ form_widget(edit_form.nombre) }}
                {{ form_errors(edit_form.nombre) }}
            </div>
            <div class="form-group col-md-12">
                {{ form_label(edit_form.email) }}
                {{ form_widget(edit_form.email) }}
                {{ form_errors(edit_form.email) }}
            </div>
            <div class="form-group col-md-12">
                {{ form_label(edit_form.nick) }}
                {{ form_widget(edit_form.nick) }}
                {{ form_errors(edit_form.nick) }}
            </div>
            <div class="form-group col-md-12">
                {{ form_label(edit_form.telefono) }}
                {{ form_widget(edit_form.telefono) }}
                {{ form_errors(edit_form.telefono) }}
            </div>
            <div class="form-group col-md-12">
                {{ form_label(edit_form.fechaNacimiento) }}
                {{ form_widget(edit_form.fechaNacimiento) }}
                {{ form_errors(edit_form.fechaNacimiento) }}
            </div>
            <div class="form-group col-md-12">
                {{ form_label(edit_form.domicilio) }}
                {{ form_widget(edit_form.domicilio) }}
                {{ form_errors(edit_form.domicilio) }}
            </div>
            <div class="form-group col-md-12">
                {{ form_label(edit_form.codigoPostal) }}
                {{ form_widget(edit_form.codigoPostal) }}
                {{ form_errors(edit_form.codigoPostal) }}
            </div>
            <div class="form-group col-md-12">
                {{ form_label(edit_form.municipio) }}
                {{ form_widget(edit_form.municipio) }}
                {{ form_errors(edit_form.municipio) }}
            </div>
            <div class="form-group col-md-12">
                {{ form_label(edit_form.provincia) }}
                {{ form_widget(edit_form.provincia) }}
                {{ form_errors(edit_form.provincia) }}
            </div>
            <div class="form-group col-md-12">
                {{ form_label(edit_form.web) }}
                {{ form_widget(edit_form.web) }}
                {{ form_errors(edit_form.web) }}
            </div>
            <div class="form-group col-md-12">
                {{ form_label(edit_form.experiencia) }}
                {{ form_widget(edit_form.experiencia) }}
                {{ form_errors(edit_form.experiencia) }}
            </div>
            <div class="form-group col-md-12">
                {{ form_label(edit_form.dni) }}
                {{ form_widget(edit_form.dni) }}
                {{ form_errors(edit_form.dni) }}
            </div>
            {{ form_row(edit_form._token) }}


        </fieldset>
        <div class="">
            <input type="submit" value="Editar" class="btn btn-primary"/>
        </div>
        {{ form_errors(edit_form) }}
    </div>
{% endblock %}
