{% extends '::layout.html.twig' %}

{% block contenido %}
    <h1>Usuario list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Nick</th>
                <th>Password</th>
                <th>Telefono</th>
                <th>Isadmin</th>
                <th>Fechanacimiento</th>
                <th>Domicilio</th>
                <th>Codigopostal</th>
                <th>Municipio</th>
                <th>Provincia</th>
                <th>Web</th>
                <th>Experiencia</th>
                <th>Dni</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td><a href="{{ path('usuario_show', { 'id': usuario.id }) }}">{{ usuario.id }}</a></td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.nick }}</td>
                <td>{{ usuario.password }}</td>
                <td>{{ usuario.telefono }}</td>
                <td>{% if usuario.isAdmin %}Yes{% else %}No{% endif %}</td>
                <td>{% if usuario.fechaNacimiento %}{{ usuario.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ usuario.domicilio }}</td>
                <td>{{ usuario.codigoPostal }}</td>
                <td>{{ usuario.municipio }}</td>
                <td>{{ usuario.provincia }}</td>
                <td>{{ usuario.web }}</td>
                <td>{{ usuario.experiencia }}</td>
                <td>{{ usuario.dni }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('usuario_show', { 'id': usuario.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usuario_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
