{% extends '::layout.html.twig' %}
{% block contenido %}
    <ul class="breadcrumb">
        <li><a href="{{ path("route_homepage") }}">Home</a></li>
        <li class="active">Regitro</li>
    </ul>

    <div class="container-fluid">
        <form class="form-horizontal" id="formRegistro"
          method="POST"
          action="{{ path('registro')}}" novalidate="novalidate">
        <fieldset>
            <legend>Registro</legend>

        {{ form_start(form) }}
            <div class="row col-xs-12">
                <div class="form-group col-md-12">
                    {{ form_label(form.nombre) }}
                    {{ form_widget(form.nombre) }}
                    {{ form_errors(form.nombre) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_label(form.nick) }}
                    {{ form_widget(form.nick) }}
                    {{ form_errors(form.nick) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_label(form.password.first) }}
                    {{ form_widget(form.password.first) }}
                    {{ form_errors(form.password.first) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_label(form.password.second) }}
                    {{ form_widget(form.password.second) }}
                    {{ form_errors(form.password.second) }}
                </div>

                <div class="form-group col-md-12">
                    {{ form_label(form.telefono) }}
                    {{ form_widget(form.telefono) }}
                    {{ form_errors(form.telefono) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_label(form.fechaNacimiento) }}
                    {{ form_widget(form.fechaNacimiento) }}
                    {{ form_errors(form.fechaNacimiento) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_label(form.domicilio) }}
                    {{ form_widget(form.domicilio) }}
                    {{ form_errors(form.domicilio) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_label(form.codigoPostal) }}
                    {{ form_widget(form.codigoPostal) }}
                    {{ form_errors(form.codigoPostal) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_label(form.municipio) }}
                    {{ form_widget(form.municipio) }}
                    {{ form_errors(form.municipio) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_label(form.provincia) }}
                    {{ form_widget(form.provincia) }}
                    {{ form_errors(form.provincia) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_label(form.web) }}
                    {{ form_widget(form.web) }}
                    {{ form_errors(form.web) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_label(form.experiencia) }}
                    {{ form_widget(form.experiencia) }}
                    {{ form_errors(form.experiencia) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_label(form.dni) }}
                    {{ form_widget(form.dni) }}
                    {{ form_errors(form.dni) }}
                </div>

           </div>
        </fieldset>
            {{ form_rest(form) }}
        <div class="">
            <input type="submit" value="Enviar" class="btn btn-primary"/>
        </div>
        </form>
    </div>
    {{ form_errors(form) }}

{% endblock %}
