{% extends '::layout.html.twig' %}
{% block contenido %}
    <ul class="breadcrumb">
        <li><a href="{{ path("route_homepage") }}">Home</a></li>
        <li class="active">Regitro</li>
    </ul>


    <form class="form-horizontal" id="formRegistro"
        method="POST"
        action="{{ path('registro_admin')}}" novalidate="novalidate">

        <legend>Registro</legend>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Nuevo Usuario" class="btn btn-primary" />
        {{ form_end(form) }}
        {{ form_errors(form) }}
    </form>


{% endblock %}
