{% extends '::layout.html.twig' %}
{% block contenido %}
    <h1>Usuario</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usuario.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ usuario.nombre }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ usuario.email }}</td>
            </tr>
            <tr>
                <th>Nick</th>
                <td>{{ usuario.nick }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ usuario.password }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ usuario.telefono }}</td>
            </tr>
            <tr>
                <th>Isadmin</th>
                <td>{% if usuario.isAdmin %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Fechanacimiento</th>
                <td>{% if usuario.fechaNacimiento %}{{ usuario.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Domicilio</th>
                <td>{{ usuario.domicilio }}</td>
            </tr>
            <tr>
                <th>Codigopostal</th>
                <td>{{ usuario.codigoPostal }}</td>
            </tr>
            <tr>
                <th>Municipio</th>
                <td>{{ usuario.municipio }}</td>
            </tr>
            <tr>
                <th>Provincia</th>
                <td>{{ usuario.provincia }}</td>
            </tr>
            <tr>
                <th>Web</th>
                <td>{{ usuario.web }}</td>
            </tr>
            <tr>
                <th>Experiencia</th>
                <td>{{ usuario.experiencia }}</td>
            </tr>
            <tr>
                <th>Dni</th>
                <td>{{ usuario.dni }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
