{% extends '::layout.html.twig' %}

{% block contenido %}
    <ul class="breadcrumb">
        <li><a href="{{ path("route_homepage") }}">Home</a></li>
        <li class="active">Categorias</li>
    </ul>
    {% for anuncio in categorium.anuncios %}
        <article class="panel panel-primary">

            <div class="panel-heading">
                <p class="small pull-right">{% if anuncio.fecha %}{{ anuncio.fecha|date('d-m-Y H:i') }}{% endif %}</p>
                <h3 class="panel-title"><a href="{{ path('anuncio_show', {'id' : anuncio.id}) }}">{{ anuncio.titulo }}</a></h3>
            </div>

            <div class="panel-body">
                <a  href="{{ path('anuncio_show', {'id' : anuncio.id}) }}" class="pull-right"><img class='' src={{ asset(anuncio.imagen) }} alt={{ anuncio.titulo }}/></a>
                <p>{{ anuncio.texto }}</p>
                <p>Usuario: {{ anuncio.usuario.nombre }}<img  class="" width="35" height="35" src="{{ asset(anuncio.usuario.imagen) }}"/></p>
                <p><a href="{{ path('oferta_index', {'idAnuncio' : anuncio.id}) }}">Numero de Ofertas:<span class="badge">{{anuncio.getAnuncioId() | length}}</span></a></p>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% set return=false %}
                    {% for seguimiento in seguimientos if seguimiento.AnuncioId.id == anuncio.id and return==false%}
                        <a  href="{{ path('seguimiento_delete', {'id' :  anuncio.id }) }}"><img width="35" height="35"
                            src="{{ asset('imagenes/seguimiento.png') }}" alt="Seguimiento"/>Dejar de Seguir</a>
                        {% if seguimiento.aviso == 1 %}
                            <div class="col-md-12 alert alert-dismissible alert-danger">
                                <button type="button" class="close" data-dismiss="alert"></button>
                                <strong>Atención han hecho una oferta al anuncio que sigues.</strong>
                                <a href="{{ path('seguimiento_quitarAviso', {'id': anuncio.id}) }}" class="alert-link">Aceptar</a>
                            </div>
                        {% endif %}
                        {% set return= true %}
                    {% else %}
                        <a  href="{{ path('seguimiento_new', {'id' : anuncio.id }) }}"><img width="35" height="35"
                            src="{{ asset('imagenes/noSeguimiento.jpg') }}" alt="Seguimiento"/>Seguir</a>
                        {% set return= true %}
                    {% endfor %}
                {% endif %}

                <h2><span class="label label-info">{{ anuncio.precio }}€</span></h2>
            </div>

        </article>
    {% endfor %}
{% endblock %}

