{% extends '::layout.html.twig' %}

{% block contenido %}
    {% if error is defined %}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Error</h3>
            </div>
            <div class="panel-body">
                {{ error }}
            </div>
        </div>
    {% endif %}

<div class="col-md-6">
    <form action="{{ path('anuncio_edit', {'id' : anuncio.id}) }}" method="POST" {{ form_enctype(form) }} novalidate="novalidate">
    <fieldset>
        <legend>Editar Anuncio</legend>

            <div class="form-group col-md-12">
                {{ form_label(form.titulo) }}
                {{ form_widget(form.titulo) }}
                {{ form_errors(form.titulo) }}
            </div>
            <div class="form-group col-md-12">
                {{ form_label(form.texto) }}
                {{ form_widget(form.texto) }}
                {{ form_errors(form.texto) }}
            </div>
            <div class="form-group col-md-12">
                {{ form_label(form.precio) }}
                {{ form_widget(form.precio) }}
                {{ form_errors(form.precio) }}
            </div>
            <div class="form-group col-md-12">
                {{ form_label(form.categoria) }}
                {{ form_widget(form.categoria) }}
                {{ form_errors(form.categoria) }}
            </div>
            <div class="form-group col-md-12">
                {{ form_label(form.imagen) }}
                {{ form_widget(form.imagen) }}
                {{ form_errors(form.imagen) }}
            </div>
            <div class="form-group col-md-12">
                {{ form_label(form.imagen2) }}
                {{ form_widget(form.imagen2) }}
                {{ form_errors(form.imagen2) }}
            </div>
            <div class="form-group col-md-12">
                {{ form_label(form.imagen3) }}
                {{ form_widget(form.imagen3) }}
                {{ form_errors(form.imagen3) }}
            </div>

    </fieldset>
    <div class="">
        <input type="submit" value="Editar" class="btn btn-primary"/>
    </div>
    {{ form_end(form) }}
    {{ form_errors(form) }}
</div>

    <h2>Ofertas</h2>
    <div class="col-md-6">
        <table class="table table-striped table-hover">
            <tbody>
            <thead>
            <tr>
                <th>Id</th>
                <th>Texto</th>
                <th>Importe</th>
                <th>Acciones</th>
            </tr>
            </thead>

                {% for oferta in anuncio.anuncioId %}
                    <tr class="success">
                        <td>{{ oferta.id }}</td>
                        <td>{{ oferta.titulo }}</td>
                        <td>{{ oferta.importe }}</td>
                        <td>
                            <a id="eliminar" href="{{ path("oferta_delete", {'idAnuncio' : anuncio.id,'id' : oferta.id}) }}"><img class="imagenes" src="{{ asset("imagenes/eliminar.png") }}"></a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>


{% endblock %}
