{% extends '::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=ca"></script>
    <script>

        function mapaGoogle(){

            var mapa;
            var marcador;
            var myLatlng = new google.maps.LatLng(37.192869,-3.613186);
            var mapOptions = {
                zoom: 5,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            mapa = new google.maps.Map(document.getElementById('map2'), mapOptions);

            google.maps.event.addListener(mapa, 'click', function(event) {
                // Crear marcador
                if (marcador) marcador.setMap(null);
                marcador = new google.maps.Marker({
                    position: event.latLng,
                    draggable: true,
                    map: mapa
                });
                mapa.setCenter(event.latLng);
                // Rellenar X e Y
                var latForm = document.getElementById("latitud");
                var longForm =document.getElementById("longitud");

                latForm.value=event.latLng.lat();
                longForm.value=event.latLng.lng();

                // Modificar X e Y al mover
                google.maps.event.addListener(marcador,'drag',function(event){
                    document.formulario.latitud.value=event.latLng.lat();
                    document.formulario.longitud.value=event.latLng.lng();
                    mapa.setCenter(event.latLng);
                });

            });



        }


        /*Quan acabe de carregar-se la pàgina, executa la funció mapaGoogle*/
        window.addEventListener('load',mapaGoogle,false);
    </script>
{% endblock %}

{% block contenido %}
    <ul class="breadcrumb">
        <li><a href="{{ path("route_homepage") }}">Home</a></li>
        <li class="active ">Añadir Anuncio</li>
    </ul>
    <div class="container-fluid col-md-6">
        <form class="form-horizontal" id="formOfertas" validate="novalidate" action="{{ path('anuncio_insertar')}}" method="POST" {{ form_enctype(form) }}  novalidate="novalidate">
            <fieldset>
                <legend>Nuevo Anuncio</legend>
                <div class="row col-md-12">
                    <div class="form-group col-md-12">
                        {{ form_label(form.titulo) }}
                        {{ form_widget(form.titulo) }}
                        {{ form_errors(form.titulo) }}
                    </div>
                    <div class="form-group col-md-12">
                        {{ form_label(form.texto) }}
                        {{ form_widget(form.texto) }}
                        {{ form_errors(form.texto) }}
                    </div>

                    <div class="form-group col-md-12">
                        {{ form_label(form.precio) }}
                        {{ form_widget(form.precio) }}
                        {{ form_errors(form.precio) }}
                    </div>
                    <div class="form-group col-md-12">
                        {{ form_label(form.categoria) }}
                        {{ form_widget(form.categoria) }}
                        {{ form_errors(form.categoria) }}
                    </div>
                    <div class="form-group col-md-12">
                        {{ form_label(form.imagen) }}
                        {{ form_widget(form.imagen) }}
                        {{ form_errors(form.imagen) }}
                    </div>
                    <div class="form-group col-md-12">
                        {{ form_label(form.imagen2) }}
                        {{ form_widget(form.imagen2) }}
                        {{ form_errors(form.imagen2) }}
                    </div>
                    <div class="form-group col-md-12">
                        {{ form_label(form.imagen3) }}
                        {{ form_widget(form.imagen3) }}
                        {{ form_errors(form.imagen3) }}
                    </div>
                    <div class="form-group col-md-12">
                        <input type="hidden" name="longitud" id="longitud"/>
                    </div>
                    <div class="form-group col-md-12">
                        <input type="hidden" name="latitud" id="latitud"/>
                    </div>
                </div>
            </fieldset>

            {{ form_rest(form) }}

            <div class="">
                <input type="submit" value="Enviar" class="btn btn-primary"/>
            </div>

            {{ form_end(form) }}
        </form>
    </div>

    {{ form_errors(form) }}
    <div class="col-md-6 top-buffer">
        <div id="map2" class="jumbotron"></div>
    </div>

{% endblock %}
