{% extends '::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=ca"></script>
    <script>
        function mapaGoogle(){
            var elementMapa=document.getElementById('map');
            var options = {
                zoom: 10
                , center: new google.maps.LatLng({{ anuncio.latitud }}, {{ anuncio.longitud }})
                , mapTypeId: google.maps.MapTypeId.SATELLITE
                , backgroundColor: '#ffffff'
                , noClear: true
                , disableDefaultUI: true
                , zoomControl: true
                , keyboardShortcuts: true
                , disableDoubleClickZoom: true
                , draggable: true
                , scrollwheel: true
                , draggableCursor: 'hand'
                , draggingCursor: 'hand'
                , mapTypeControl: true
                , mapTypeControlOptions: {
                    style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR
                    , position: google.maps.ControlPosition.TOP_RIGHT
                    , mapTypeIds: [
                        google.maps.MapTypeId.ROADMAP
                        , google.maps.MapTypeId.SATELLITE
                        , google.maps.MapTypeId.HYBRID
                        , google.maps.MapTypeId.TERRAIN
                    ]
                }
                , navigationControl: true
                , navigationControlOptions: {
                    position: google.maps.ControlPosition.TOP_LEFT
                    , style: google.maps.NavigationControlStyle.ZOOM_PAN
                }
                , streetViewControl: true
                , navigationControlOptions: {
                    position: google.maps.ControlPosition.TOP_RIGHT
                    , style: google.maps.NavigationControlStyle.ANDROID
                }
                , scaleControl: true
                , scaleControlOptions: {
                    position: google.maps.ControlPosition.BOTTOM_LEFT
                    , style: google.maps.ScaleControlStyle.DEFAULT
                }
                , rotateControl: true
                , rotateControlOptions: {
                    position: google.maps.ControlPosition.BOTTOM_LEFT
                    , style: google.maps.ScaleControlStyle.DEFAULT
                }
            };
            var map = new google.maps.Map(elementMapa, options);

            switch('{{ anuncio.categoria.nombre }}')
            {
                case 'Electrónica':
                    var imatge = "{{ asset('imagenes/electronica.png') }}";
                    break;

                case 'Motor':
                    var imatge = "{{ asset('imagenes/motor.png') }}";
                    break;
            }

            var marker = new google.maps.Marker({
                position: {lat: {{ anuncio.latitud }}, lng:{{ anuncio.longitud }}}
                ,	map: map
                ,	icon: imatge //assignem a la icona
                //,	draggable: true
                ,   animation: google.maps.Animation.DROP
                ,	title: 'IES Pere Maria Orts'
            });

            var contenido ='<div id="contenido">'+
                    '<h3>{{ anuncio.titulo }}</h3>'+
                    '<a href="{{ path('categoria_show', {'id' : anuncio.categoria.id}) }}"><h6>{{ anuncio.categoria.nombre }}</h6></a>'+
                    '<p style="text-align:center;padding:10px;margin:10px;">{{ anuncio.texto }}</p>'+
                    '<img class="center-block" src="{{ asset(anuncio.imagen) }}" alt="{{ anuncio.titulo }}" width="100"/></a>'+
                    '</div>';

            infowindows = new google.maps.InfoWindow({
                content:contenido
            });

            google.maps.event.addListener(marker, 'click', function() {
                infowindows.open(map,marker);
            });
        }

        window.addEventListener('load',mapaGoogle,false);
    </script>
{% endblock %}

{% block contenido %}

    <ul class="breadcrumb">
        <li><a href="{{ path("route_homepage") }}">Home</a></li>
        <li class="active">Anuncio</li>
    </ul>
        <article class="panel panel-primary">

            <div class="panel-heading">
                <p class="small pull-right">{% if anuncio.fecha %}{{ anuncio.fecha|date('d-m-Y H:i') }}{% endif %}</p>
                <h3 class="panel-title"><a href="{{ path('anuncio_show', {'id' : anuncio.id}) }}">{{ anuncio.titulo }}</a></h3>
            </div>

            <div class="panel-body">
                <img class='pull-right' src={{ asset(anuncio.imagen) }}  alt={{ anuncio.titulo }}/></a>
                <img class='pull-right' src={{ asset(anuncio.imagen2) }} alt={{ anuncio.titulo }}/></a>
                <img class='pull-right' src={{ asset(anuncio.imagen3) }} alt={{ anuncio.titulo }}/></a>
                <p>{{ anuncio.texto }}</p>
                <p>Usuario: {{ anuncio.usuario.nombre }}<img  class="" width="35" height="35" src="{{ asset(anuncio.usuario.imagen) }}"/></p>
                <p><a href="{{ path('oferta_index', {'idAnuncio' : anuncio.id}) }}">Numero de Ofertas:<span class="badge">{{anuncio.getAnuncioId() | length}}</span></a></p>
                <a href="{{ path('oferta_new', {'idAnuncio' : anuncio.id}) }}">Añadir Oferta</a><br>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% set return=false %}
                    {% for seguimiento in seguimientos if seguimiento.AnuncioId.id == anuncio.id and return==false %}
                        <a  href="{{ path('seguimiento_delete', {'id' :  anuncio.id }) }}"><img width="35" height="35"
                            src="{{ asset('imagenes/seguimiento.png') }}" alt="Seguimiento"/>Dejar de Seguir</a>
                        {% if seguimiento.aviso == 1 %}
                            <div class="col-md-12 alert alert-dismissible alert-danger">
                                <button type="button" class="close" data-dismiss="alert"></button>
                                <strong>Atención han hecho una oferta al anuncio que sigues.</strong>
                                <a href="{{ path('seguimiento_quitarAviso', {'id': anuncio.id}) }}" class="alert-link">Aceptar</a>
                            </div>
                        {% endif %}
                        {% set return= true %}
                    {% else %}
                        <a  href="{{ path('seguimiento_new', {'id' : anuncio.id }) }}"><img width="35" height="35"
                            src="{{ asset('imagenes/noSeguimiento.jpg') }}" alt="Seguimiento"/>Seguir</a>
                        {% set return= true %}
                    {% endfor %}
                {% endif %}

                <h2><span class="label label-info">{{ anuncio.precio }}€</span></h2>
            </div>
        </article>
    <div class="">
        <div id="map" class="jumbotron"></div>
    </div>


{% endblock %}
