{% extends '::layout.html.twig' %}

{% block contenido %}

    <ul class="breadcrumb">
        <li><a href="{{ path("route_homepage") }}">Home</a></li>
        <li class="active">Galería</li>
    </ul>

    <div class="content">
        <div class="panel panel-primary">
            <div class="panel-heading">
                 <h3 class="panel-title">Galería</h3>
            </div>
            <div class="panel-body">
                <ul class="list-inline">
            {% for anuncio in anuncios %}
                <li>
                    <img class='imagenesGaleria' src={{ asset(anuncio.imagen) }} alt={{ anuncio.titulo }}>
                    <figure class="row">
                        <img class='ocultas' src={{ asset(anuncio.imagen) }} alt={{ anuncio.titulo }}>
                    </figure>
                </li>
            {% endfor %}
                </ul>
                </div>
            </div>
    </div>
{% endblock %}
