{% extends '::layout.html.twig' %}

{% block contenido %}
    <ul class="breadcrumb">
        <li><a href="{{ path("route_homepage") }}">Home</a></li>
        <li class="active">Listar</li>
    </ul>

    {% for flash_message in app.session.flashbag.get('error') %}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Error</h3>
            </div>
            <div class="panel-body">
                <p id="error">{{ flash_message }}</p>
            </div>
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Correcto</h3>
            </div>
            <div class="panel-body">
                <p id="error">{{ flash_message }}</p>
            </div>
        </div>
    {% endfor %}

    <form class="navbar-form navbar-left" role="search"  method="POST" action="{{ path('route_buscador_listar') }} ">
        <button type="submit" class="btn btn-default">Buscar</button>
        <div class="form-group">
            <input class="form-control" name="texto" placeholder="Buscar" type="text">
        </div>
        <div class="radio">
            <label>
                <input name="optionsRadios" id="optionsRadios1" value="todas" checked="" type="radio">
                Todas
            </label>
        </div>
        <div class="radio">
            <label>
                <input name="optionsRadios" id="optionsRadios2" value="algunas" type="radio">
                Algunas
            </label>
        </div>
    </form>

    <div class="pull-right">
        <a href="{{ path("anuncio_new")}}"><img class="imagenes" src="{{ asset("imagenes/new.png") }}">Nuevo Anuncio</a>
    </div>

    <ul class="nav nav-tabs top-buffer col-md-12">
        <li class="active"><a aria-expanded="true" href="#anuncios" data-toggle="tab">Anuncios</a></li>
        <li class=""><a aria-expanded="false" href="#seguimiento" data-toggle="tab">Seguimiento</a></li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class=" tab-pane fade active in" id="anuncios">
            <table class="table table-striped table-hover ">
                <tbody>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Fecha</th>
                    <th>Título</th>
                    <th>Acciones</th>
                </tr>
                </thead>

                {% if anuncios is defined %}
                    {% for anuncio in anuncios %}
                        <tr class="success">
                            <td>{{ anuncio.id }}</td>
                            <td>{% if anuncio.fecha %}{{ anuncio.fecha|date('d-m-Y H:i') }}{% endif %}</td>
                            <td>{{ anuncio.titulo }}</td>
                            <td>
                                <a href="{{ path("anuncio_edit", {'id' : anuncio.id}) }}"><img class="imagenes" src="{{ asset("imagenes/editar.png") }}"></a>
                                <a  href="{{ path('anuncio_delete', {'id' :  anuncio.id }) }}"><img src="{{ asset('imagenes/eliminar.png') }}" alt="Eliminar"/></a>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}

                </tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="seguimiento">
            <div class=" tab-pane fade active in" id="seguimiento">
                <table class="table table-striped table-hover ">
                    <tbody>
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Anuncio</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>

                    {% if seguimientosUsuario is defined %}
                        {% for seguimiento in seguimientosUsuario %}
                            <tr class="success">
                                <td>{{ seguimiento.id }}</td>
                                <td>{{ seguimiento.AnuncioId.titulo }}</td>
                                <td>
                                    <a  href="{{ path('seguimiento_delete', {'id' :  seguimiento.AnuncioId.id }) }}"><img width="35" height="35"
                                        src="{{ asset('imagenes/seguimiento.png') }}" alt="Seguimiento"/>Dejar de Seguir</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>


{% endblock %}
