{% extends '::layout.html.twig' %}

{% block contenido %}
    <ul class="breadcrumb">
        <li><a href="{{ path("route_homepage") }}">Home</a></li>
        <li class="active">Listar Usuario</li>
    </ul>

    <div class="col-md-6 panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{ usuario.nick }}</h3>
        </div>
        <div class="panel-body">
            <img src="{{ asset(usuario.imagen) }}" class="pull-left" width="190" />
            <p>Nombre: {{ usuario.nombre }}</p>
            <p>Email: {{ usuario.email }}</p>
            <p>Teléfono: {{ usuario.telefono }}</p>
            <p>Fecha de Nacimiento: {% if usuario.fechaNacimiento %}{{ usuario.fechaNacimiento|date('d-m-Y') }}{% endif %}</p>
            <p>Domicilio: {{ usuario.domicilio }}</p>
            <p>Provincia: {{ usuario.provincia }}</p>
            <p>Municipio: {{ usuario.municipio }}</p>
        </div>
    </div>

    <div class="col-md-6 panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Acciones</h3>
        </div>
        <div class="panel-body">
            <li><a href="{{ path('usuario_edit', {'id' : app.user.id}) }}">Editar Usuario</a></li>
            <li><a href="{{ path('cambiar_password', {'id' : app.user.id}) }}">Cambiar Contraseña</a></li>
            <li><a href="{{ path('cambiar_imagen', {'id' : app.user.id}) }}">Cambiar Imagen</a></li>
            <li><a href="{{ path('eliminar_imagen', {'id' : app.user.id}) }}">Eliminar Imagen</a></li>
        </div>
    </div>

{% endblock %}
