{% extends '::layout.html.twig' %}
{% block contenido %}

    <ul class="breadcrumb">
        <li><a href="{{ path("route_homepage") }}">Home</a></li>
        <li class="active">Login</li>
    </ul>

    <form class="form-horizontal" action="{{ path("route_login_check") }}" method="post" id="login" class="form-horizontal">
        <fieldset>
            <legend>Login</legend>
                <div class="form-group">
                    <label for="nick" class="control-label col-md-offset-2 col-md-1">Nick</label>
                    <div class="col-md-6">
                        <input type="text" id="username" name="_username"  value="{{ last_username }}" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label col-md-offset-2 col-md-1">Password</label>
                    <div class="col-md-6">
                        <input type="password" id="password" name="_password" class="form-control"/>
                    </div>
                </div>
                <input type="submit" value="Login" class=" col-md-offset-3  btn btn-primary"/>
        </fieldset>
    </form>

    {% if error %}
        <div class="top-buffer alert alert-dismissible alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


{% endblock %}
