{% extends '::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=ca"></script>

<script>
    function mapaGoogle()
    {
        var marcadores=[];
        var contenidos=[];
        var infowindows=[];
        var imatge;
        var myLatlng = new google.maps.LatLng(37.192869,-3.613186);

        var mapOptions = {
            zoom: 5,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map'), mapOptions);

        {% for anuncio in anuncios %}

            switch('{{ anuncio.categoria.nombre }}')
            {
                case 'Electrónica':
                    var imatge = "{{ asset('imagenes/electronica.png') }}";
                    break;

                case 'Motor':
                    var imatge = "{{ asset('imagenes/motor.png') }}";
                    break;
            }

            marcadores[{{ loop.index }}] = new google.maps.Marker({
                position: {lat: {{ anuncio.latitud }}, lng:{{ anuncio.longitud }}}
                ,	map: map
                ,	icon: imatge
                ,   animation: google.maps.Animation.DROP
                ,	title: '{{ anuncio.titulo }}'
            });

            contenidos[{{ loop.index }}] ='<div id="contenido">'+
                    '<h3>{{ anuncio.titulo }}</h3>'+
                    '<a href="{{ path('categoria_show', {'id' : anuncio.categoria.id}) }}"><h6>{{ anuncio.categoria.nombre }}</h6></a>'+
                    '<p style="text-align:center;padding:10px;margin:10px;">{{ anuncio.texto }}</p>'+
                    '<img class="center-block" src="{{ asset(anuncio.imagen) }}" alt="{{ anuncio.titulo }}" width="100"/></a>'+
                    '</div>';

            infowindows[{{ loop.index }}] = new google.maps.InfoWindow({
                content:contenidos[{{ loop.index }}]
            });

            google.maps.event.addListener(marcadores[{{ loop.index }}], 'click', function() {
                infowindows[{{ loop.index }}].open(map,marcadores[{{ loop.index }}]);
            });
        {% endfor %}
    }

    window.addEventListener('load',mapaGoogle,false);
</script>
{% endblock %}

{% block contenido %}
    <ul class="breadcrumb">
        <li class="active">Home</li>
    </ul>
    <div class="">
        <div id="map" class="jumbotron"></div>
    </div>
{% endblock %}
