{% extends '::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/puzzle.js')}}"></script>
{% endblock %}
{% block contenido %}

    <ul class="breadcrumb">
        <li><a href="{{ path("route_homepage") }}">Home</a></li>
        <li class="active">Puzzle</li>
    </ul>


    <article id="cajaTodoPuzzle">

        <div id="cajaPiezas" ondragenter="return dragEnter(event)" ondragover="return dragOver(event)" ondrop="return dragDrop(event)">
            <img id="pieza4" src="{{ asset('imagenes/cuatro.png') }}" alt="pieza4" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)">
            <img id="pieza2" src="{{ asset('imagenes/dos.png') }}" alt="pieza2" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)">
            <img id="pieza1" src="{{ asset('imagenes/uno.png') }}" alt="pieza1" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)">
            <img id="pieza3" src="{{ asset('imagenes/tres.png') }}" alt="pieza3" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)">
        </div>

        <div id="cajaPuzzle">
            <div class="contenedorPieza" id="uno" ondragenter="return dragEnter(event)" ondragover="return dragOver(event)" ondrop="return dragDrop(event)"></div>
            <div class="contenedorPieza" id="dos" ondragenter="return dragEnter(event)" ondragover="return dragOver(event)" ondrop="return dragDrop(event)"></div>
            <div class="contenedorPieza" id="tres" ondragenter="return dragEnter(event)" ondragover="return dragOver(event)" ondrop="return dragDrop(event)"></div>
            <div class="contenedorPieza" id="cuatro" ondragenter="return dragEnter(event)" ondragover="return dragOver(event)" ondrop="return dragDrop(event)"></div>
            </div>
    </article>

{% endblock %}
