{% extends '::layout.html.twig' %}

{% block contenido %}

    <ul class="breadcrumb">
        <li><a href="{{ path("route_homepage") }}">Home</a></li>
        <li class="active">Slideshow</li>
    </ul>


    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active ">
                <img src="{{ asset('imagenes/ps3.png') }}" alt="ps3" style="margin: 0 auto">
            </div>
            {% for anuncio in anuncios %}
                <div class="item">
                    <img src={{ asset(anuncio.imagen) }} alt={{ anuncio.titulo }} style="margin: 0 auto">
                </div>
            {% endfor %}
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endblock %}
