{% extends '::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/video.js')}}"></script>
{% endblock %}

{% block contenido %}

    <ul class="breadcrumb">
        <li><a href="{{ path("route_homepage") }}">Home</a></li>
        <li class="active">Video</li>
    </ul>

    <section class="col-md-12">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"><br><br><br>
                    <video id="video" controls class="img-responsive" width="720" height="400">
                        <source src="{{ asset('video/La%20tienda%20del%20señor%20Fox.mp4') }}">
                    </video>
                </div>

            </div>

            <div class="top-buffer">
                <button>Reiniciar</button>
                <button><<</button>
                <button>Play</button>
                <button>>></button>
                <button>Silenciar</button>
                <span id="volumen">Volumen</span>
                <button>+</button>
                <button>-</button>
            </div>

           <progress class="top-buffer col-md-6" value='0' max='100'></progress>

        </div>
    </section>
{% endblock %}
